<?xml version="1.0"?>
<config>
    <modules>
        <Harapartners_HpIntWms>
            <version>1.0.0.0</version>
        </Harapartners_HpIntWms>
    </modules>
    <global>
        <blocks>
            <hpintwms>
				<class>Harapartners_HpIntWms_Block</class>
            </hpintwms>
        </blocks>
		<helpers>
            <hpintwms>
				<class>Harapartners_HpIntWms_Helper</class>
			</hpintwms>
        </helpers>
		<models>
            <hpintwms>
				<class>Harapartners_HpIntWms_Model</class>
				<resourceModel>hpintwms_resource</resourceModel>
			</hpintwms>
            <hpintwms_resource>
                <class>Harapartners_HpIntWms_Model_Resource</class>
            </hpintwms_resource>
			<enterprise_rma>
				<rewrite>
					<!-- This adds an event prefix to the model -->
					<rma>Harapartners_HpIntWms_Model_Rewrite_Enterprise_Rma_Rma</rma>
				</rewrite>
			</enterprise_rma>
        </models>
		<resources>
			<hpintwms_setup>
				<setup>
					<module>Harapartners_HpIntWms</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</hpintwms_setup>
			<hpintwms_write>
				<connection>
					<use>core_write</use>
				</connection>
			</hpintwms_write>
			<hpintwms_read>
				<connection>
					<use>core_read</use>
				</connection>
			</hpintwms_read>		
		</resources>
		<events>
		<!-- Place event here if not useing orderWorkflow -->
            <enterprise_rma_save_before>
                <observers>
                    <enterprise_rma_save_before>
                        <class>hpintwms/observer</class>
                        <method>rmaSaveBefore</method>
                    </enterprise_rma_save_before>
                </observers>
            </enterprise_rma_save_before>
			<enterprise_rma_save_after>
                <observers>
                    <enterprise_rma_save_after>
                        <class>hpintwms/observer</class>
                        <method>rmaSaveAfter</method>
                    </enterprise_rma_save_after>
                </observers>
            </enterprise_rma_save_after>
        </events>
    </global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Harapartners_HpIntWms before="Mage_Adminhtml">Harapartners_HpIntWms_Adminhtml</Harapartners_HpIntWms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <hpintwms>
                <use>standard</use>
                <args>
                    <module>Harapartners_HpIntWms</module>
                    <frontName>hpintwms</frontName>
                </args>
            </hpintwms>
        </routers>
    </frontend>
	<adminhtml/>
	<default>
		<hpintwms>
			<conection_config>                
				<adapter_comment>
				<![CDATA[On Windows, sqlsrv is currently working. No Adapter type needed.    
				On Unix, pdo_mssql is currently working. Set Adapter type to dblib.]]>
				</adapter_comment>         
			</conection_config>      
		</hpintwms>
	</default>
</config>