<?xml version="1.0"?>
<config>    
    <modules>
        <SL_Signaturelink>
            <version>1.0.7</version>
        </SL_Signaturelink>
    </modules>
	<global>
    	<models>
            <signaturelink>
                <class>SL_Signaturelink_Model</class>
				<resourceModel>signaturelink_resource</resourceModel>
            </signaturelink>  
			<signaturelink_resource>
				<class>SL_Signaturelink_Model_Resource</class>
				<entities>
					<sid>
						<table>signaturelink</table>
					</sid>
					<whitelist>
						<table>signaturelink_whitelist</table>
					</whitelist>
				</entities>
			</signaturelink_resource>
        </models>
	    <helpers>
    	    <signaturelink>
        	    <class>SL_Signaturelink_Helper</class>
        	</signaturelink>
    	</helpers>
    	<blocks>
    		<signaturelink>
    			<class>SL_Signaturelink_Block</class>
    		</signaturelink>
    	</blocks>
		<blocks>
			<adminhtml>
				<rewrite>
					<sales_order_grid>SL_Signaturelink_Block_Adminhtml_Signaturelink_Grid</sales_order_grid>
				</rewrite>
			</adminhtml>
		</blocks>		
		<events>
			<checkout_submit_all_after>
				<observers>
					<sl_watch_checkout_submit_after>
						<type>singleton</type>
						<class>SL_Signaturelink_Model_Observer</class>
						<method>checkoutSubmitAllAfter</method>
					</sl_watch_checkout_submit_after>
				</observers>
			</checkout_submit_all_after>
			<checkout_type_onepage_save_order_after>
				<observers>
					<sl_watch_order_after>
						<type>singleton</type>
						<class>SL_Signaturelink_Model_Observer</class>
						<method>checkoutTypeOnepageSaveOrderAfter</method>
					</sl_watch_order_after>
				</observers>
			</checkout_type_onepage_save_order_after>
			<sales_quote_save_before>
				<observers>
					<sl_watch_quote>
						<type>singleton</type>
						<class>SL_Signaturelink_Model_Observer</class>
						<method>watchQuoteSave</method>
					</sl_watch_quote>
				</observers>
			</sales_quote_save_before>
			<checkout_type_onepage_save_order_before>
				<observers>
					<sl_capture_html>
						<type>singleton</type>
						<class>SL_Signaturelink_Model_Observer</class>
						<method>checkoutTypeOnepageSaveOrderBefore</method>
					</sl_capture_html>
				</observers>
			</checkout_type_onepage_save_order_before>
			<checkout_type_onepage_save_order_after>
				<observers>
					<sl_capture_html>
						<type>singleton</type>
						<class>SL_Signaturelink_Model_Observer</class>
						<method>getCaptureData</method>
					</sl_capture_html>
				</observers>
			</checkout_type_onepage_save_order_after>
			<controller_action_predispatch_checkout_onepage_savePayment>
				<observers>
					<sl_capture_html>
						<type>singleton</type>
						<class>SL_Signaturelink_Model_Observer</class>
						<method>controllerActionPredispatchCheckoutOnepageSavePayment</method>
					</sl_capture_html>
				</observers>
			</controller_action_predispatch_checkout_onepage_savePayment>
			<sales_convert_quote_payment_to_order_payment>
				<observers>
					<sl_capture_html>
						<type>singleton</type>
						<class>SL_Signaturelink_Model_Observer</class>
						<method>salesConvertQuotePaymentToOrderPayment</method>
					</sl_capture_html>
				</observers>
			</sales_convert_quote_payment_to_order_payment>
			<controller_action_predispatch_checkout_onepage_saveOrder>
				<observers>
					<sl_capture_html>
						<type>singleton</type>
						<class>SL_Signaturelink_Model_Observer</class>
						<method>controllerActionPredispatchCheckoutOnepageSaveOrder</method>
					</sl_capture_html>
				</observers>
			</controller_action_predispatch_checkout_onepage_saveOrder>
			<core_block_abstract_prepare_layout_after>
				<observers>
					<sl_watch_html_blocks>
						<class>SL_Signaturelink_Model_Observer</class>
						<method>coreBlockAbstractPrepareLayoutAfter</method>
					</sl_watch_html_blocks>
				</observers>
			</core_block_abstract_prepare_layout_after>
		</events>
		<resources>
			<signaturelink_setup>
				<setup>
					<module>SL_Signaturelink</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</signaturelink_setup>
		</resources>
    </global>

    <frontend>
		<routers>
			<signaturelink>
				<use>standard</use>
				<args>
					<module>SL_Signaturelink</module>
					<frontName>sl</frontName>
				</args>
			</signaturelink>
		</routers>
        <layout>
            <updates>
                <signaturelink>
                    <file>signaturelink.xml</file>
                </signaturelink>
            </updates>
        </layout>
    </frontend>

	<adminhtml>
		<layout>
			<updates>
				<signaturelink>
					<file>signaturelink.xml</file>
				</signaturelink>
			</updates>
		</layout>
	</adminhtml>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<signaturelink after="Mage_Adminhtml">SL_Signaturelink_Adminhtml</signaturelink>
					</modules>
				</args>
			</adminhtml>
		<!--
		-->
		</routers>
	</admin>

	<default>
		<signaturelink>
			<sl_config>
				<opt_tcbox>0</opt_tcbox>
				<lang_list>en</lang_list>
				<securebuy_options_list>1</securebuy_options_list>
				<signpad_mode>0</signpad_mode>
			</sl_config>
						
			<tm_config>
				<enabled>1</enabled>
				<tm_host>i.signaturelink.com</tm_host>
				<tm_disable_score>none</tm_disable_score>
				<signpad_allow_specific_country>0</signpad_allow_specific_country>				
				<tm_disabled_message><![CDATA[Please contact our store to complete your order.]]></tm_disabled_message>
				<tm_quarantine_fraud_message><![CDATA[Please contact our store to complete your order.]]></tm_quarantine_fraud_message>
			</tm_config>
		</signaturelink>
		<payment>
			<signaturelink>
				<active>0</active>
				<model>signaturelink/payment_method_signaturelink</model>
				<order_status>sl_authentication_failed</order_status>
				<order_state>canceled</order_state>
				<title>Payment Saved</title>
			</signaturelink>
		</payment>
	</default>
</config>   
