<?xml version="1.0"?>
<config>
    <modules>
        <Harapartners_HpCheckout>
            <version>0.1.0</version>
        </Harapartners_HpCheckout>
    </modules>
    <global>
        <blocks>
            <hpcheckout>
                <class>Harapartners_HpCheckout_Block</class>
            </hpcheckout>
        </blocks>
		<models>
            <hpcheckout>
                <class>Harapartners_HpCheckout_Model</class>
            </hpcheckout>
        </models>
		<helpers>
			<hpcheckout>
				<class>Harapartners_HpCheckout_Helper</class>
			</hpcheckout>
		</helpers>
    </global>
    <frontend>
		<secure_url>
            <hpcheckout_checkout>/hpcheckout/checkout</hpcheckout_checkout>
        </secure_url>
		<routers>
			<hpcheckout>
				<use>standard</use>
				<args>
					<module>Harapartners_HpCheckout</module>
					<frontName>hpcheckout</frontName>
				</args>
			</hpcheckout>
		</routers>
		<events>
			<controller_action_predispatch>
				<observers>
                    <hpcheckout_controller_rewrite>
                        <class>hpcheckout/observer</class>
                        <method>hpcheckoutControllerRewrite</method>
                    </hpcheckout_controller_rewrite>
                </observers>
			</controller_action_predispatch>
            <hpcheckout_checkout_controller_success_action>
                <observers>
                    <hpcheckout_googleanalytics_order_success>
                        <class>googleanalytics/observer</class>
                        <method>setGoogleAnalyticsOnOrderSuccessPageView</method>
                    </hpcheckout_googleanalytics_order_success>
                </observers>
            </hpcheckout_checkout_controller_success_action>
        </events>
		<layout>
			<updates>
				<hpcheckout module="Harapartners_HpCheckout">
					<file>hpcheckout.xml</file>
				</hpcheckout>
			</updates>
		</layout>
    </frontend>
</config>