<?xml version="1.0"?>
<!--
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User Software Agreement (EULA).
 * It is also available through the world-wide-web at this URL:
 * http://www.harapartners.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to eula@harapartners.com so we can send you a copy immediately.
 *
 -->
<config>
    <modules>
        <Harapartners_ShoemartEdi>
            <version>1.0.0</version>
        </Harapartners_ShoemartEdi>
    </modules>
    <global>
		<blocks>
            <shoemartedi>
                <class>Harapartners_ShoemartEdi_Block</class>
            </shoemartedi>
        </blocks>
        <models>
            <shoemartedi>
                <class>Harapartners_ShoemartEdi_Model</class>
            </shoemartedi>
        </models>
        <resources>
           <shoemartedi_setup>
				<setup>
                    <module>Harapartners_ShoemartEdi</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shoemartedi_setup>
        </resources>
		<helpers>
			<shoemartedi>
                <class>Harapartners_ShoemartEdi_Helper</class>
            </shoemartedi>
		</helpers>
		<events>
			<!-- We are useing OrderWorkflow -->
			<!--
            <sales_order_place_after>
                <observers>
                    <quietlogistics_submit_order>
                        <class>quietlogistics/observer</class>
                        <method>submitOrder</method>
                    </quietlogistics_submit_order>
                </observers>
            </sales_order_place_after>
			
			<sales_order_invoice_pay>
                <observers>
                    <quietlogistics_after_payment>
                        <class>shoemartedi/observer</class>
                        <method>submitOrderAfterPayment</method>
                    </quietlogistics_after_payment>
                </observers>
            </sales_order_invoice_pay>
			-->
		</events>
    </global>
</config>
