<?xml version="1.0"?>
<!--
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User Software Agreement (EULA).
 * It is also available through the world-wide-web at this URL:
 * http://www.harapartners.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to eula@harapartners.com so we can send you a copy immediately.
 *
 * @author      Steven Hoffman <s.hoffman@harapartners.com>
 * @copyright   Copyright (c) 2013 Harapartners Inc.
 * 
 -->
<!-- app/code/local/Harapartners/ShoemartEdi/etc/system.xml -->

<config>
    <sections>
        <shoemart_edi translate="label" module="shoemartedi">
            <label>Hara Partners EDI</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<conection_config translate="label">
					<label>Conection Settings</label>
					<sort_order>5</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<endpoint translate="label">
							<label>Endpoint URL or IP</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</endpoint>
						<port translate="label">
							<label>Port</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</port>
						<username translate="label">
							<label>Username</label>
							<frontend_type>text</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</username>
						<password translate="label">
							<label>Password</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</password>
						<path_in translate="label">
							<label>Path For Incoming Files</label>
							<frontend_type>text</frontend_type>
							<sort_order>25</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</path_in>
						<path_out translate="label">
							<label>Path For Outgoing Files</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</path_out>
					</fields>
				</conection_config>
				<sync_setting>
					<label>Sync Settings</label>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<base_dir translate="label">
							<label>Directory for EDI (Relative to MageRoot)</label>
							<comment>SubFolders will be (in --- out)</comment>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</base_dir>
					</fields>
				</sync_setting>
			</groups>
        </shoemart_edi>

        <customer translate="label" module="shoemartedi">
            <groups>
                <vendor_lead_time_email translate="label">
                    <label>Vendor Lead Time Emails</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <use_vendor_lead_time_email translate="label">
                            <label>Send Vendor Lead Time Emails?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_vendor_lead_time_email>
                        <vendor_lead_time_email translate="label">
                            <label>Vendor Lead Time Emails</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </vendor_lead_time_email>
                    </fields>
                </vendor_lead_time_email>
            </groups>
        </customer>
	</sections>
</config>
