<?xml version="1.0"?>
<config>
    <modules>
        <Harapartners_HpReport>
            <version>1.0.0</version>
        </Harapartners_HpReport>
    </modules>
    <global>
        <blocks>
            <hpreport>
				<class>Harapartners_HpReport_Block</class>
            </hpreport>
        </blocks>
		<helpers>
            <hpreport>
				<class>Harapartners_HpReport_Helper</class>
			</hpreport>
        </helpers>
		<models>
            <hpreport>
				<class>Harapartners_HpReport_Model</class>
				<resourceModel>hpreport_resource</resourceModel>
			</hpreport>
            <hpreport_resource>
                <class>Harapartners_HpReport_Model_Resource</class>
            </hpreport_resource>
        </models>
		<resources>
			<hpreport_setup>
				<setup>
					<module>Harapartners_HpReport</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</hpreport_setup>
			<hpreport_write>
				<connection>
					<use>core_write</use>
				</connection>
			</hpreport_write>
			<hpreport_read>
				<connection>
					<use>core_read</use>
				</connection>
			</hpreport_read>		
		</resources>
    </global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Harapartners_HpReport before="Mage_Adminhtml">Harapartners_HpReport_Adminhtml</Harapartners_HpReport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <hpreport>
                <use>standard</use>
                <args>
                    <module>Harapartners_HpReport</module>
                    <frontName>hpreport</frontName>
                </args>
            </hpreport>
        </routers>
    </frontend>
</config>