<?xml version="1.0"?>
<config>
    <modules>
        <Harapartners_HpSalesforce>
            <version>1.0.0.0</version>
        </Harapartners_HpSalesforce>
    </modules>
    <global>
        <blocks>
            <hpsalesforce>
				<class>Harapartners_HpSalesforce_Block</class>
            </hpsalesforce>
        </blocks>
		<helpers>
            <hpsalesforce>
				<class>Harapartners_HpSalesforce_Helper</class>
			</hpsalesforce>
        </helpers>
		<models>
            <hpsalesforce>
				<class>Harapartners_HpSalesforce_Model</class>
				<resourceModel>hpsalesforce_resource</resourceModel>
			</hpsalesforce>
            <hpsalesforce_resource>
                <class>Harapartners_HpSalesforce_Model_Resource</class>
            </hpsalesforce_resource>
        </models>
		<resources>
			<hpsalesforce_setup>
				<setup>
					<module>Harapartners_HpSalesforce</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</hpsalesforce_setup>
			<hpsalesforce_write>
				<connection>
					<use>core_write</use>
				</connection>
			</hpsalesforce_write>
			<hpsalesforce_read>
				<connection>
					<use>core_read</use>
				</connection>
			</hpsalesforce_read>		
		</resources>
		<events>
			<sales_order_invoice_register>
                <observers>
                    <hpsalesforce_after_payment>
                        <class>hpsalesforce/observer</class>
                        <method>salesInvoiceAfter</method>
                    </hpsalesforce_after_payment>
                </observers>
			</sales_order_invoice_register>
			<sales_order_status_history_save_before>
                <observers>
                    <hpsalesforce_after_order_status_history>
                        <class>hpsalesforce/observer</class>
                        <method>orderStatusHistorySaveBefore</method>
                    </hpsalesforce_after_order_status_history>
                </observers>
			</sales_order_status_history_save_before>
			<sales_order_shipment_save_after>
                <observers>
                    <hpsalesforce_after_shipment>
                        <class>hpsalesforce/observer</class>
                        <method>shipmentSaveAfter</method>
                    </hpsalesforce_after_shipment>
                </observers>
			</sales_order_shipment_save_after>
			<order_cancel_after>
                <observers>
                    <hpsalesforce_after_order_cancel>
                        <class>hpsalesforce/observer</class>
                        <method>orderCancelAfter</method>
                    </hpsalesforce_after_order_cancel>
                </observers>
			</order_cancel_after>
			<enterprise_rma_save_after>
                <observers>
                    <hpsalesforce_after_rma>
                        <class>hpsalesforce/observer</class>
                        <method>rmaSaveAfter</method>
                    </hpsalesforce_after_rma>
                </observers>
			</enterprise_rma_save_after>
		</events>
    </global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Harapartners_HpSalesForce before="Mage_Adminhtml">Harapartners_HpSalesforce_Adminhtml</Harapartners_HpSalesForce>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>